@page
@model PhamMinhNhatRazorPages.Pages.Orders.MyOrderModel
@{
}

<div class="container">
    <a href="/CustomerScreen">Home</a>
</div>

<h1 class="mb-3">List of Orders</h1>
<table class="table text-success">
    <thead>
        <tr>
            <th>Id</th>
            @*<th>Customer Id</th>*@
            <th>Order Date</th>
            <th>Shipped Date</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.OrderId</td>
                @*<td>@item.CustomerId</td>*@
                <td>@item.OrderDate</td>
                <td>@item.ShippedDate</td>
                <td>@item.Total</td>
                <td>@item.OrderStatus</td>
                <td><a class="btn btn-outline-dark" href="Detail/@item.OrderId">Detail</a></td>
            </tr>
        }
    </tbody>
</table>